body{
    background: url(../bcg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* #login-modal, .modal-dialog{
    width: 350px;
} */

#login-modal, input[type=text], input[type=password]{
    margin-top: 10px;
}

